@mixin background-it($path) {
  background-image: $path;
  color: white;
}

$image: url(../assets/dog.jpg);
$text-color: white;

.custom {
  @include background-it($image);
}

.app-appear{
  opacity: 0.01;
}

.app-appear-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.app-enter{
  opacity: 0.01;
}

.app-enter-active{
  opacity: 1;
  transition: opacity 5s ease-in;
}